html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

body{

  overflow-x: hidden;

  padding: 5px;
  background: linear-gradient(to right, #ff00c8, #c7009c, #ff0095, #ff0095, #f700ff, #ff00bf);
  animation: animationGradient 10s infinite linear;
  background-size: 200%;

  min-height: 100vh;
  min-height: 100svh;

  box-sizing: border-box;

  display: flex;
}

.card{

  flex: 1;               
  width: 100%;
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
  border-radius: 6px;
  background: black;

  display: flex;
  flex-direction: column;

  min-height: 0;           
}
@keyframes animationGradient{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 200%;
    }
}

.heart-center{
  flex: 1;                 
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}

.hearts{
  position: relative;
  width: 140px;
  height: 140px;
}

.heart{
    z-index: 2;
  --s: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--s);
  height: var(--s);
  background: hotpink;
  border-radius: 3px;
  opacity: 0.85;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  /* animation: pulse 2s infinite ease; */
  filter:
    drop-shadow(0 0 6px rgba(250, 42, 187, 0.568))
    drop-shadow(0 0 14px rgba(250, 42, 187, 0.568));
}

.heart::before,
.heart::after{
  content:"";
  position:absolute;
  width: var(--s);
  height: var(--s);
  background: hotpink;
  border-radius: 50%;
}

.heart::before{ top: calc(var(--s) / -2); left: 0; }
.heart::after{ left: calc(var(--s) / -2); top: 0; }

@keyframes pulse{
  0%,100%{ transform: translate(-50%, -50%) scale(1); }
  50%    { transform: translate(-50%, -50%) scale(1.2); }
}

.heart::before,
.heart::after{
  content:"";
  position:absolute;
  width: var(--s);
  height: var(--s);
  background: hotpink;
  border-radius: 50%;
}

.heart::before{ top: calc(var(--s) / -2); left: 0; }
.heart::after{ left: calc(var(--s) / -2); top: 0; }

p {
    z-index: 1;
    text-align: center;
  font-size: 1.8em;
  color: white;
  text-shadow: 0px 0px 5px hotpink;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 200px;  
  height: 200px; 

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  transform: translate(-50%, -50%) rotate(-45deg);

  z-index: 1; 

}

.content{
    opacity: 0;
    font-size: 1.6em;
    color: rgb(255, 98, 221);
}
@keyframes textFadeSequence {
    0%   { opacity: 0; }
    15%  { opacity: 1; } 
    75%  { opacity: 1; } 
    100% { opacity: 0; } 
}

.content.show {

    animation: textFadeSequence 4.5s ease-in-out forwards;
}
#year{
  margin-top: 10px;
  font-size: 0.8em;
  color: white;
  text-shadow: 0px 0px 5px hotpink;
}


.h1, .h2{ animation: pulse 2s infinite ease; }

.h1.go{ animation: splitLeft 4.5s ease-in-out forwards; }
.h2.go{ animation: splitRight 4.5s ease-in-out forwards; }

@keyframes splitLeft{
  0%   { transform: translate(-50%, -50%) translate(0,0) rotate(0deg) scale(1); }
  25%  { transform: translate(-50%, -50%) translate(-230px,-120px) rotate(-90deg) scale(0.4); }
  75%  { transform: translate(-50%, -50%) translate(-230px,-120px) rotate(-90deg) scale(0.4); }
  100% { transform: translate(-50%, -50%) translate(0,0) rotate(0deg) scale(1); }
}

@keyframes splitRight{
  0%   { transform: translate(-50%, -50%) translate(0,0) rotate(0deg) scale(1); }
  25%  { transform: translate(-50%, -50%) translate(230px,120px) rotate(90deg) scale(0.4); }
  75%  { transform: translate(-50%, -50%) translate(230px,120px) rotate(90deg) scale(0.4); }
  100% { transform: translate(-50%, -50%) translate(0,0) rotate(0deg) scale(1); }
}
